<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.usz.c3pro.c3_pro_android_framework">

    <application
        android:label="@string/app_name">
        <activity
            android:name=".consent.ViewConsentTaskActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Base.Theme.Backbone" />
        <activity
            android:name=".questionnaire.ViewQuestionnaireTaskActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Base.Theme.Backbone" />
        <activity
            android:name="org.researchstack.backbone.ui.ViewWebDocumentActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Base.Theme.Backbone" />

    </application>

</manifest>
